.header {
  width: 100%;
  padding: 20px 40px;
  background-color: rgb(136, 211, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  .logo {
    .logo_title {
      font-size: 25px;
      color: rgb(255, 255, 255);
      transition: .5s;
    }
    .logo_title:hover {
      font-size: 27px;
      color: black;
    }
  }



  .links {
    display: flex;
    justify-content: space-between;

    .links_text {
          color: white;
          font-size: 18px;
          transition: .5s;
          margin-left: 50px;
    }
    .links_text:hover {
      font-size: 20px;
      color: black;
      border-bottom: 1.8px solid black;
    }
  }
}